/* Resetando as configurações da página */ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

/* Declaração das variáveis #74ceec */
:root {
    --C_PBlue:  #3a9cbd;
    --C_SBlue:  #74ceec;
    --C_Fundo: #000;
    --C_Black: #000;
    --C_White: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    background: lightblue url("imagens/fundoProjeto.jpg") no-repeat fixed center; 
}


/* Cabeçalho, seções e rodapé */
header, .hero-section, .courses-section, footer, .phero-section, .hero-section-eventos, .estrutura-section{ /* Criar a linha em volta*/
    border-color: var(--C_Black);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
    margin: 0 1rem;
    background: linear-gradient(90deg, #d0e8ebe3 0%,  #e4eff3 100%);
}



.espacamento {
    visibility: hidden;
}

/* Cabeçalho */

header img {
    display: block;
    margin: 1rem auto;
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto 0;
}

nav a {
    color: var(--C_Black);
    font-size: 1.25rem;
    padding: .5rem;
    text-decoration: none;
    transition: .3s;
    position: relative;
}

nav a:hover {
    color: var(--C_PBlue);
}

nav a::after {
    content: " ";
    width: 0%;
    height: 1px;
    background-color: var(--C_PBlue);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

.active::after {
    width: 100%;
    top: 0;
} 

.active {
    color: var(--C_PBlue);
}

header nav a:nth-child(2n-1) { /* Configuração dos elementos ímpares do menu */ 
    text-align: right;

}

.button {
    background-color: var(--C_PBlue);
    border: 2px solid var(--C_Black);
    border-radius: 15px;
    box-shadow: 2px 2px 0 var(--C_Black);
    color: var(--C_Black);
    display: block;
    font-size: 1.25rem;
    padding: .75rem 1rem;
    max-width: 17rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

.button:hover {
    background-color: var(--C_SBlue);
    box-shadow: 5px 5px 0 var(--C_Black);
}

.hero-section {
    padding-bottom: 16rem;
}

.hero-section img{
    display: block;
    margin: 1.25rem 0 0 auto;
    max-width: 100%;
}



h1 {
    font-size: 3rem;
    line-height: 105%;
}

h2 {
    font-size: 2.5rem;
}

.versiculo {
    font-size: 2.2rem;
}

sub {
    font-size: 1.0rem;
}

.hero-section p {
    font-size: 1.25rem;
    padding-right: 1.25rem;
}

.hero-section .button {
    position: relative;
}

.hero-section .button::after {  /*Seta após o botão*/
    content: '';
    background: url('imagens/arrow-curve.svg');
    position: absolute;
    top: 5rem;
    right: -4rem;
    height: 48px;
    width: 132px;
}

.decoration {
    display: block;
    position: relative;
}

.decoration::after {  /* Riscos no Span */
    content: '';
    background: url('imagens/three-dashes.svg');
    position: absolute;
    top: -1.5rem;
    height: 36px;
    width: 40px;
}

.logoMaria {
    width: 4.0rem;
}

.courses-section {
    padding-bottom: 8rem;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.25rem;
    margin-top: -8rem;
    margin-bottom: 4rem;
}

.card {
    background-color: var(--C_PBlue);
    border: 2px solid var(--C_Black);
    box-shadow: 4px 4px 0 var(--C_Black);
    max-width: 17rem;
    min-width: 17rem;
    height: 27rem;
    padding: 2rem 1rem 1rem 2rem;
    transition: .3s;
}

.card:nth-child(2n) { /* Pegar os cards pares */ 
    align-self: end;
    background-color: var(--C_SBlue);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; 
}

.card:nth-child(2n-1) {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card strong {
    display: block;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.card:hover {
    background-color: var(--C_Fundo);
    transform: translateY(-15px);
}

/* Rodapé */ 

/*Redes sociais*/
.navbar {
    display: flex;
    gap: 2rem;
}

.icon {
    background-color: var(--C_PBlue);
    padding: 10px;
    border-radius: 50%;
    font-size: 1.25rem;
    color: var(--C_Fundo);
    transition: all .3s ease;
    border: 0.5px solid var(--C_PBlue);
}

.icon:hover {
    background-color: var(--C_White);
    color: var(--C_SBlue);
    border: 0.5px solid var(--C_SBlue);
}
/*Fim redes sociais*/

footer {
    border-bottom: 0;
    padding: 1rem 1.25rem 4rem;
}

footer nav a {
    display: block;
    padding-left: 0;
}

.newsletter-form label{
    display: block;
    font-size: 1.5rem;
    text-align: right;
}

.newsletter-form input{
    border: 2px solid var(--C_Black);
    border-radius: 15px;
    box-shadow: 4px 4px 0 var(--C_Black);
    font-size: 1.5rem;
    padding: .5rem 1rem;
    width: 100%;
    text-align: center;
}

.about-column {
    z-index: 1;
    display: block;
    align-items: center;
}

form {
    z-index: 1;
}

footer nav {
    z-index: 1;
}

.waves {
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.wave-1 {
    animation: movewave1 3s ease-in-out infinite alternate;
}

.wave-2 {
    animation: movewave2 3s 1.2s ease-in-out infinite alternate;
}

.wave-3 {
    animation: movewave3 3s 0.8s ease-in-out infinite alternate;
}

@keyframes  movewave1 {
    from {
        transform: translateX(-2000px);
        
    }
}

@keyframes  movewave2 {
    from {
        transform: translateX(-1800px);
    }
}

@keyframes  movewave3 {
    from {
        transform: translateX(-1600px);
    }
}


/* Criação de classes padrões*/
.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-primary {
    color: var(--C_PBlue);
}

.text-center {
    text-align: center;
}

/* Responsividade */

@media screen and (min-width: 40rem) {
    header nav {
        display: block;
        text-align: center;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card:nth-child(2n) {
        margin-top: 1rem;
        border-radius: 0px;
    }

    .card:nth-child(2n-1) {
        border-radius: 0px;
    }

    .card:nth-child(1) {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .card:nth-child(4) {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    } 

    
}

@media screen and (min-width: 48rem){
    header div{
        display: flex;
        align-items: center;
        justify-content: space-between; /* Distribuir os espaços entre os elementos*/ 
    }

    

    header img, header nav, header .button {
        margin: 0;
    }
}

@media screen and (min-width: 72rem) {
    h1, h2 {
        font-size: 4rem;
    }

    .container {
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 72rem;
    }

    .container.row-reverse {
        flex-direction: row-reverse;
    }

    .about-column {
        flex: 2;
    }

    .about-column p {
        font-size: 1.25rem;
        max-width: 16rem;
    }

    footer nav {
        flex: 1;
    }

    .newsletter-form {
        flex: 3;
    }
}

@media screen and (min-width: 80rem) {
    .container {
        max-width: 80rem;
    }
}

/* Barra de scroll */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color:  #e4eff3;
}

::-webkit-scrollbar-thumb {
    border-radius: 35px;
    background-color: #2b809c9c;
}


/* Página projetos */

/* Cards mostrando os projetos */


.pcontainer{
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
}

.pcontainer-slide{   
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
  }



.pcontainer .pmain-card{
  display: flex;
  justify-content: space-evenly;
  width: 300%;
  transition: 1s;
}

.pcontainer-slide .pmain-card-slide{
    display: flex;
    justify-content: space-evenly;
    width: 300%;
    transition: 1s;
  }

  

#two:checked ~ .pmain-card{
  margin-left: -100%;
}

#three:checked ~ .pmain-card{
  margin-left: -200%;
}


#two2:checked ~ .pmain-card{
  margin-left: -100%;
}

#three2:checked ~ .pmain-card{
  margin-left: -200%;
}

#two3:checked ~ .pmain-card{
  margin-left: -100%;
}

#three3:checked ~ .pmain-card{
  margin-left: -200%;
}

#two-slide:checked ~ .pmain-card-slide{
  margin-left: -100%;
}

#three-slide:checked ~ .pmain-card-slide{
  margin-left: -200%;
}

#twoE:checked ~ .pmain-card{
  margin-left: -100%;
}

#threeE:checked ~ .pmain-card{
  margin-left: -200%;
}

.pcontainer .pmain-card .pcards{
  width: calc(100% / 3 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}

.pcontainer-slide .pmain-card-slide .pcards-slide{
    width: calc(100% / 3 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
  }


.pmain-card .pcards .pcard{
  width: calc(100% / 4 - 10px);
  background: #74ceec00;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}

.pmain-card-slide .pcards-slide .pcard-slide{
    width: calc(100% / 1 - 10px);
    transition: all 0.4s ease;
  }



.pmain-card .pcards .pcard:hover{
  transform: translateY(-15px);
  box-shadow: 0 5px 10px #227b99a4;
}

.pcards .pcard .pcontent{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pcards .pcard .pcontent-projeto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


.pcards .pcard .pcontent .pimg{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: var(--C_White);
  margin-bottom: 14px;
  transition: all .3s ease;
}

.pcards .pcard .pcontent-projeto .pimg-projeto{
    aspect-ratio: 3 / 4;  /* Definir uma proporção pro card */
  }




.pcard .pcontent .pimg img{
  height: 100%;
  width: 100%;
  border: 3px solid var(--C_Fundo);
  border-radius: 50%;
  object-fit: cover;
}

.pcard .pcontent-projeto .pimg-projeto img{
    object-fit: cover;  /* Faz a imagem preencher todo o card */
    margin-top: 0;
    width: 100%;
    aspect-ratio: 3 / 4;  /* Colocar a mesma proporção do card para a imagem */
    object-position: center;  /* Terá como o foco de proporção o centro da img*/
  }



.pcard .pcontent .pname{
  font-size: 20px;
  font-weight: 500;
}

 .pcontainer .pbutton{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.pcontainer-slide .pbutton-slide{
    width: 100%;
    display: flex;
    justify-content: center;
  }



.pbutton label{
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: var(--C_White);
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 2px solid var(--C_Fundo);
}



.pbutton-slide label{
    height: 25px;
    width: 25px;
    border-radius: 0px;
    background: var(--C_White);
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 2px solid var(--C_Fundo);
  }

.pbutton-slide label:nth-child(1){
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.pbutton-slide label:nth-child(3){
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }


  /* Label Cada Projeto */
  .pbutton-slide label.active{
    width: 45px;
    background: var(--C_PBlue);
  }


  
  #one-slide:checked ~ .pbutton-slide .one-slide{
    width: 45px;
    background: var(--C_PBlue);
  }
  
  #one-slide:checked ~ .pbutton-slide .two-slide{
    width: 25px;
    background: var(--C_White);
  }

  #one-slide:checked ~ .pbutton-slide .three-slide{
    width: 25px;
    background: var(--C_White);
  }
  
  #two-slide:checked ~ .pbutton-slide .one-slide{
    width: 25px;
    background: var(--C_White);
  }
  
  #two-slide:checked ~ .pbutton-slide .two-slide{
    width: 45px;
    background: var(--C_PBlue);
  }

  #two-slide:checked ~ .pbutton-slide .three-slide{
    width: 25px;
    background: var(--C_White);
  }

  #three-slide:checked ~ .pbutton-slide .three-slide{
    width: 45px;
    background: var(--C_PBlue);
  }

  #three-slide:checked ~ .pbutton-slide .one-slide{
    width: 25px;
    background: var(--C_White);
  }

  #three-slide:checked ~ .pbutton-slide .two-slide{
    width: 25px;
    background: var(--C_White);
  }

/* Fim Label cada Projeto */



.pbutton label.active{
  width: 35px;
  background: var(--C_PBlue);
}

#one:checked ~ .pbutton .one{
  width: 35px;
  background: var(--C_PBlue);
}

#one:checked ~ .pbutton .two{
  width: 15px;
  background: var(--C_White);
}

#one:checked ~ .pbutton .three{
  width: 15px;
  background: var(--C_White);
}


#two:checked ~ .pbutton .one{
  width: 15px;
  background: var(--C_White);
}

#two:checked ~ .pbutton .three{
  width: 15px;
  background: var(--C_White);
}

#two:checked ~ .pbutton .two{
  width: 35px;
  background: var(--C_PBlue); 
}

#three:checked ~ .pbutton .one{
  width: 15px;
  background: var(--C_White);
}

#three:checked ~ .pbutton .two{
  width: 15px;
  background: var(--C_White);
}

#three:checked ~ .pbutton .three{
  width: 35px;
  background: var(--C_PBlue); }
/* Fim Projeto 1 */

/* Projeto 2 */
#one2:checked ~ .pbutton .one2{
    width: 35px;
    background: var(--C_PBlue);
  }
  
#one2:checked ~ .pbutton .two2{
    width: 15px;
    background: var(--C_White);
  }

#one2:checked ~ .pbutton .three2{
    width: 15px;
    background: var(--C_White);
  }
  
#two2:checked ~ .pbutton .one2{
    width: 15px;
    background: var(--C_White);
  }

#two2:checked ~ .pbutton .three2{
    width: 15px;
    background: var(--C_White);
  }

#two2:checked ~ .pbutton .two2{
    width: 35px;
    background: var(--C_PBlue);
} 

#three2:checked ~ .pbutton .one2{
  width: 15px;
  background: var(--C_White);
}

#three2:checked ~ .pbutton .two2{
  width: 15px;
  background: var(--C_White);
}

#three2:checked ~ .pbutton .three2{
  width: 35px;
  background: var(--C_PBlue);
}
/* Fim Projeto 2 */

/* Projeto 3 */
#one3:checked ~ .pbutton .one3{
    width: 35px;
    background: var(--C_PBlue);
  }
  
#one3:checked ~ .pbutton .two3{
    width: 15px;
    background: var(--C_White);
  }

#one3:checked ~ .pbutton .three3{
    width: 15px;
    background: var(--C_White);
  }

#two3:checked ~ .pbutton .one3{
    width: 15px;
    background: var(--C_White);
  }
  
#two3:checked ~ .pbutton .two3{
    width: 35px;
    background: var(--C_PBlue);
} 

#two3:checked ~ .pbutton .three3{
  width: 15px;
  background: var(--C_White);
}

#three3:checked ~ .pbutton .one3{
  width: 15px;
  background: var(--C_White);
}

#three3:checked ~ .pbutton .three3{
  width: 35px;
  background: var(--C_PBlue);
} 

#three3:checked ~ .pbutton .two3{
width: 15px;
background: var(--C_White);
}

/* Fim Projeto 3 */

/* Estrutura */
#oneE:checked ~ .pbutton .oneE{
  width: 35px;
  background: var(--C_PBlue);
}

#oneE:checked ~ .pbutton .twoE{
  width: 15px;
  background: var(--C_White);
}

#oneE:checked ~ .pbutton .threeE{
  width: 15px;
  background: var(--C_White);
}

#twoE:checked ~ .pbutton .oneE{
  width: 15px;
  background: var(--C_White);
}

#twoE:checked ~ .pbutton .twoE{
  width: 35px;
  background: var(--C_PBlue);
} 

#twoE:checked ~ .pbutton .threeE{
width: 15px;
background: var(--C_White);
}

#threeE:checked ~ .pbutton .oneE{
width: 15px;
background: var(--C_White);
}

#threeE:checked ~ .pbutton .threeE{
width: 35px;
background: var(--C_PBlue);
} 

#threeE:checked ~ .pbutton .twoE{
width: 15px;
background: var(--C_White);
}
/* Fim Estrutura */


input[type="radio"]{
    display: none;
  }
  
/* Responsividade dos cards */ 
@media (max-width: 768px) {
  .pmain-card .pcards .pcard{
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }

}

@media (max-width: 600px) {
  .pmain-card .pcards .pcard{
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}

  

  @media (max-width: 460px) {
    .pmain-card-slide .pcards-slide {
      /* margin: 20px 0 10px 0; */
      width: 100%;
    }

    .pmain-card-slide .pcards-slide .pcard-slide .card-projeto {
      /* margin: 20px 0 10px 0; */
      width: 100%;
    }

    .pmain-card-slide .pcards-slide .pcard-slide .card-projeto h1{
      /* margin: 20px 0 10px 0; */
      font-size: 2.0rem;
    }

    .pmain-card-slide .pcards-slide .pcard-slide .card-projeto h2{
      /* margin: 20px 0 10px 0; */
      font-size: 1.5rem;
    }

    .pmain-card-slide .pcards-slide .pcard-slide .card-projeto p{
      /* margin: 20px 0 10px 0; */
      font-size: 1.0rem;
    }
  }

  
/* Fim card */


/* Primeira Seção */

.sobreBody {
    padding: 0 0;
}


.first-section{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(imagens/fundoProjeto.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-section .conteudo-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.first-section h1{
    color: var(--C_Fundo);
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    
}

.first-section h2{
    color: rgb(177, 177, 177);
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 3rem;
}

.btn button {
    width: 230px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--C_PBlue);
    border-radius: 10px;
    color: black;
    font-weight: 700;
    transition: all 400ms ease-in;
    margin-top: 5rem;
}

.btn button:hover {
    border: 1px solid var(--C_SBlue);
    background-color: transparent;
    color: var(--C_SBlue);
}


.main_div {
    
    display: flex;
    justify-content: space-between;
}


@media (max-width: 720px) {
    .conteudo-principal h1 {
        width: 350px;
        text-align: center;
    }
}

@media (max-width: 645px) {

     .btn {
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

    .conteudo-principal h2 {
        width: 200px;
        text-align: center;
    }
}

@media (max-width: 399px) {

    .conteudo-principal h1 {
       font-size: 3rem;
    }
    .conteudo-principal h2 {
       font-size: 2rem;
    }

}


/* Carrossel para cada projeto dentro do index */

.projeto-section {
    padding: 0 1rem;
    border: none;
    background: #d0e8eb75;
    box-shadow: 0 5px 10px rgba(85, 85, 85, 0.25);
    border-radius: 15px;
    margin-bottom: 2rem;
    text-align: center;
}

.projeto-section:nth-child(2n-1) {
    background: #dde9eb75;
}

.projetoCard .navbar {
    justify-content: center;
    position: relative;
}

.pmain-projeto{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

.projetoCard h1 {
    font-size: 3rem;
}

.projetoCard h2 {
    font-size: 1.5rem;
}

.projetoCard {
    padding-top: 1rem;
}

/* SOBRE */
.imagemSobre {
  border-radius: 30px;
  box-shadow: 4px 4px 5px var(--C_Black);
}


/* EVENTOS */
.containerEventos{
  max-width: 950px;
  width: 100%;
  overflow: hidden;
}
.containerEventos .main-cardEventos{
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}
#twoEventos:checked ~ .main-cardEventos{
  margin-left: -100%;
}
.containerEventos .main-cardEventos .cardsEventos{
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-cardEventos .cardsEventos .cardEventos{
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-cardEventos .cardsEventos .cardEventos:hover{
  transform: translateY(-15px);
}
.cardsEventos .cardEventos .contentEventos{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cardsEventos .cardEventos .contentEventos .imgEventos{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 3px;
  background: var(--C_Fundo);
  margin-bottom: 14px;
  aspect-ratio: 1 / 1;
}
.cardEventos .contentEventos .imgEventos img{
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
.cardEventos .contentEventos .nameEventos{
  font-size: 20px;
  font-weight: 500;
}
.cardEventos .contentEventos .jobEventos{
  font-size: 20px;
  color: var(--C_PBlue);
}

 .containerEventos .buttonEventos{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.buttonEventos label{
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: var(--C_White);
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.buttonEventos label.active{
  width: 35px;
  background: var(--C_PBlue);
}
#oneEventos:checked ~ .buttonEventos .one{
  width: 35px;
  background: var(--C_PBlue);
}
#oneEventos:checked ~ .buttonEventos .two{
  width: 15px;
  background: var(--C_White);
}
#twoEventos:checked ~ .buttonEventos .one{
  width: 15px;
  background: var(--C_White);
}
#twoEventos:checked ~ .buttonEventos .two{
  width: 35px;
  background: var(--C_PBlue);
}

@media (max-width: 768px) {
  .main-cardEventos .cardsEventos .cardEventos{
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-cardEventos .cardsEventos .cardEventos{
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}

.pmain {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 2rem;
}

.sobre {
  padding-bottom: 0;
  border-width: 0 1px 0px 1px;
}

.buttonS {
  background-color: var(--C_PBlue);
  border: 2px solid var(--C_Black);
  border-radius: 15px;
  box-shadow: 2px 2px 0 var(--C_Black);
  color: var(--C_Black);
  display: block;
  font-size: 1.25rem;
  padding: .75rem 1rem;
  max-width: 17rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}
.detailsEventos {
  height: 30vh;
}
.buttonS:hover {
  background-color: var(--C_SBlue);
  box-shadow: 5px 5px 0 var(--C_Black);
}

.hero-section-eventos {
  text-align: center;
}

.descEvento {
  height: 90%;
}

.dataEvento {
  height: 10%;
}

.estrutura-section {
  text-align: center;
}
